body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom, #fff 0%, #e0ffe0 100%);
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  header, footer {
    background-color: #007f00; /* Verde fuerte */
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  section {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    padding: 30px;
    transition: transform 0.3s ease;
  }
  form:hover {
    transform: scale(1.01);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  td {
    padding: 15px;
    vertical-align: middle;
    border: none; /* Quita líneas visibles */
  }
  
  select, input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #007f00;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  select:hover, input[type="text"]:hover, input[type="submit"]:hover {
    background-color: #faffd0; /* Amarillo claro */
  }
  
  input[type="submit"] {
    background-color: #f00;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #c00;
    transform: scale(1.05);
  }
  
  img {
    border-radius: 15px;
    transition: transform 0.3s ease;
  }
  
  img:hover {
    transform: rotate(2deg) scale(1.1);
  }